body {
    font-family: Arial, sans-serif;
    background-image: url('./images/hero_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 30px;
    margin-right: 30px;
}

.custom-navbar {
    background-color: lightgray;
    border-radius: 10px; /* Rounded corners */
    margin-top: 20px; /* Fixed top margin */
    padding: 10px; /* Optional padding for aesthetics */
}

/* Ensuring the collapse doesn't affect the look */
.custom-navbar .collapse {
    border-radius: 10px; /* Rounded corners for collapsed state */
}

.footer {
    background-color: transparent;
}

.footer p {
    margin-top: 50px;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
}

.jumbotron h1,
.jumbotron p {
    margin-bottom: 20px;
}

.jumbotron .btn {
    margin-top: 10px;
    width: 120px;
}

.rp-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.image-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.image-item {
    flex: 1 0 200px;
    max-width: 200px;
    text-align: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.about-us-item {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.about-us-item-left {
    flex-direction: row;
    text-align: justify;
    padding-bottom: 50px;
}

.about-us-item-right {
    flex-direction: row-reverse;
    text-align: justify;
    padding-bottom: 50px;
}


.about-us-item p {
    font-size: 20px;
    line-height: 1.4;
    max-width: 750px;
}

.img-container {
    width: 150px; /* Set the maximum width of the container */
    height: 150px; /* Set the maximum height of the container */
    overflow: hidden; /* Hide overflow if the image exceeds container dimensions */
}

.img-container img {
    max-width: 100%;
    max-height: 100%; /* Ensure the image does not exceed the container's width */
}

.logo-color,
.navbar-brand.logo-color {
    color: blueviolet;
}